body {
    background-color: #FAEF5D;
}
h1 {
    color: #FF004D; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: #7E2553; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    color: #1D2B53; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
